@page "/aboutus"

<MudText Typo="Typo.h6">About Us</MudText>

<MudGrid xs="12">
    <MudItem>
        <MudText Typo="Typo.h6">
            Vision:
        </MudText>
    </MudItem>
    <MudItem>
        <MudText Typo="Typo.body1">
            INTERRA takes pride in its service to valued clients. INTERRA’s mission is Quality, Service, and Commitment to each and every client.
            INTERRA at a Glance:

            Multiple Offices. INTERRA has offices and testing laboratories in Illinois and Wisconsin.
            Meets the Challenge. INTERRA has met the challenges of demanding projects and successfully completed both as a prime and as a subconsultant throughout the United States.
            Accreditations. INTERRA’s material testing laboratories are accredited by state DOTs and AASHTO to provide common and advanced testing on soil, concrete, asphalt, and aggregates.
            Quality + Client Satisfaction. INTERRA is fully committed to the use of systems, procedures, employee training, and certifications to sustain high quality standards in our services for each and every client.
            Safety. Please visit INTERRA’s Safety Matters page. INTERRA is a safety-driven engineering firm who has successfully completed many projects without incident.
            IT. INTERRA employs a technology-based information management ‘backbone’ to:
            Process and organize high volumes of sample/technical data
            Maintain consistent, accurate, and reliable documentation
            Deliver material test results in near “real-time” to expedite project progress and decision-making for complete client satisfaction
            Business Designations. INTERRA is a certified Disadvantaged / Minority Business Enterprise with various state DOTs and local agencies.
            Sustainability. INTERRA is always looking to improve its sustainability methods and reduce its carbon footprint on the Earth.
            Honors. INTERRA has been recognized for its accomplishments as an industry leader in engineering, inspection, testing, and for its innovative green initiatives.

        </MudText>
    </MudItem>
    <MudItem>
        <MudText Typo="Typo.body1">
            <ul>
                <li>2020 HACIA DBE Professional Services Firm of the Year</li>
                <li> 2018 USMCA Minority Engineering Firm of the Year</li>
                <li>2018 Illinois Sustainability Award</li>
                <li>2017 IRTBA Green Industry Achievement Award</li>
            </ul>
        </MudText>
    </MudItem>
</MudGrid>
<MudImage Src="Contact.png" alt="Project Photos"></MudImage>

