@page "/careers"


<MudText Typo="Typo.h6">Careers</MudText>
<MudGrid>
    <MudItem>
        <MudText Typo="Typo.body1">

            Maximize your potential with INTERRA! We are an industry leading provider of Engineering, Inspection, and Testing services delivered in support of construction, development, environmental, geotechnical projects in diverse markets throughout the Midwest. Clients include the Illinois Tollway, IDOT, CDOT, CDWM, municipalities/counties, private companies, and developers.
        </MudText>
        <MudText Typo="Typo.body1">

            Since 1996, INTERRA has focused on providing top-notch services to the industry while engaging, mentoring, and challenging our employees to reach new heights in their careers. Our employees take an active role in their development and work on a wide-variety of civil engineering, environmental, and geotechnical projects – making them well-rounded and solution oriented in their day-to-day responsibilities. Below are just some of the many benefits of joining the INTERRA family.<b>To apply, please email your resume to careers@interraservices.com.</b>
        </MudText>
        <MudText Typo="Typo.body1">
            <ul>
                <li>Competitive hourly and annual salary compensation packages with Paid Time Off(PTO)</li>
                <li>Opportunities for paid overtime hours</li>
                <li>Paid holidays</li>
                <li>Company match for contributions to your 401k and profit sharing</li>
                <li>Medical/dental insurance</li>
                <li>Company contributions to employee health savings accounts (HSA)</li>
                <li>Life insurance</li>
                <li>Office locations in Bolingbrook and Itasca</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Field Technician
        </MudText>
        <MudText Typo="Typo.body1">
            Interra, Inc. is currently seeking full-time field technicians to perform Construction Materials Testing Services on WisDOT construction sites and private construction sites based out of our Franklin, WI office location.
        </MudText>
        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li> Field observation & testing during concrete placements</li>
                <li>Sampling, inspection, and testing of soil & aggregates</li>
                <li> Laboratory testing of concrete cylinders, aggregates, & soil.</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li>
                    Qualified candidates must be detailed orientated and able to work independently as well as in a team environment.
                    A background in construction, materials testing and/or Civil Engineering is helpful.
                    This position requires basic computer aptitude and effective written and oral communication skills.
                    Candidates must also have a high school diploma or equivalent; possess a valid driver’s license (with a good driving record) and the ability to frequently lift heavy objects weighing greater than 50 lbs. on a daily basis. Weekend and overtime work is available.
                </li>

                <li>  The ideal candidate would have one or more of the HTCP (WisDOT) certifications, but we are willing to provide training of qualified individuals. At least 1 year of field experience with concrete & soils material testing is preferred but Interra does offer in-house training of qualified candidates.</li>

                <li>  Pre-employment drug screening is required. Interra, Inc. is an EEO employer.</li>

                <li>  Please remit resumes to: Julia Slota, 5004 W Ashland Way, Franklin, Wisconsin 53132; 414.235.3170, Ex 3001; jslota@interraservices.com</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Geotechnical Engineer (mid-career)
        </MudText>
        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li>   Assist in development of subsurface investigation plans</li>
                <li>  Perform geotechnical studies, field tests, and analyses</li>
                <li>  Prepare geotechnical laboratory reports and review and submit soil field technician reports</li>
                <li> Assist in preparation of structure and roadway geotechnical reports</li>
                <li>  Perform other tasks and duties as assigned from time to time</li>
            </ul>

        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>
        <MudText Typo="Typo.body1">

            Should have a Bachelor’s Degree in civil engineering, geotechnical engineering, or another related engineering field with at least five years of experience in the relevant field. Should have the computer knowledge and skills necessary to effectively complete various reporting tasks.
        </MudText>
        <MudText Typo="Typo.h6">

            Civil Engineer (entry level to mid-career)
        </MudText>

        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li>   Construction observation and inspection of field operations and documentation of transportation projects such as roads, airports, traffic signals, bridges, and underground utilities</li>
                <li>   Issue resolution assistance throughout the construction process</li>
                <li>  Geotechnical, soil, and environmental investigations and report preparation</li>
                <li>   Preparation of civil engineering drawings and specifications for a variety of projects</li>
                <li>    Assistance with land surveying when needed</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>

        <MudText Typo="Typo.body1">

            <ul>
                <li>   Entry-level or higher experience (multiple positions available)</li>
                <li>   Bachelor’s Degree (or anticipated) in Civil Engineering, Geotechnical Engineering, Environmental Engineering, Construction Management, or related field</li>
                <li>   Possess an Illinois EIT or PE (or plan to take necessary tests to acquire)</li>
                <li>    Strong verbal/written communication skills</li>
                <li>    Willingness to assist with and learn multiple aspects services lines relating to engineering, geotech/soil, and inspection</li>
                <li>   Must have valid drivers’ license and willingness to work longer hours as construction scheduling requires</li>
            </ul>
        </MudText>

        <MudText Typo="Typo.h6">

            Materials Coordinator
        </MudText>

        <MudText Typo="Typo.h4">

            Job Description
        </MudText>

        <MudText Typo="Typo.body1">

            INTERRA, Inc. is seeking a Materials Coordinator for an upcoming IDOT project. The Materials Coordinator will track and review material inspection documentation and be proactive in acquiring proper evidence of inspection by the IDOT SSRBC. The individual will oversee the production, placement, and testing of QC/QA materials for Hot Mix Asphalt (HMA), Portland Cement Concrete (PCC), Aggregates, Soil, and miscellaneous materials.
        </MudText>
        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>

        <MudText Typo="Typo.body1">

            <ul>
                <li>  Review of QC plans submitted by the contractor for PCC, HMA, Aggregates, and soil.</li>
                <li>   Review, analyze, acknowledge, and final submittal of all testing reports and documentation.</li>
                <li>  Observe, verify, monitor, and ensure testing procedures are being followed, according to plans and specifications at the plant and job site.</li>
                <li>  Manage, supervise, and coordinate certified testing staff.</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li> IDOT QC/QA PCC and HMA Level II Certification</li>
                <li>IDOT QC/QA Aggregate Technician Certification</li>
                <li>IDOT Class S-33 Soil Testing</li>
                <li> IDOT Documentation of Contract Quantities (preferred)</li>
                <li>  ACI Concrete Field-Testing Certification</li>
                <li>  RE Materials training class and construction inspection experience is preferred.</li>
                <li>   Knowledge of IDOT, Illinois Tollway, and CDOT standards and specifications.</li>
                <li>    Materials Quality Assurance Technician</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>

        <MudText Typo="Typo.body1">

            <ul>
                <li>   Field and plant inspection and testing during concrete placements</li>
                <li>   Field and plant inspection and testing during hot mix asphalt (HMA) placements</li>
                <li>   Sampling, inspection, and testing of soil and aggregates</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li>IDOT/ACI Concrete Level 1</li>
                <li> IDOT HMA Level 1</li>
                <li>   IDOT Soil S-33</li>
                <li>   Construction Inspector (entry to senior level)</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Responsibilities:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>
                <li>  Construction observation and inspection of field operations and documentation of transportation projects such as roads, traffic signals, bridges, and underground utilities</li>
                <li>  Issue resolution and client contact assistance along with contractor coordination throughout the construction process</li>
                <li>   Assistance with field operations for geotech/environmental/soils/surveying</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6">

            Qualifications:
        </MudText>
        <MudText Typo="Typo.body1">

            <ul>

                <li>  Willingness to assist with and learn multiple aspects services lines relating to engineering, geotech/soils, and inspection</li>
                <li>   IDOT Documentation of Contract Quantities certification is preferred</li>
                <li>   Preferred but not required educational background in field related to Civil Engineering, Geotechnical Engineering, Environmental Engineering, or Construction Management</li>
                <li>  Strong verbal/written communication skills</li>
                <li>   Must have valid drivers’ license and willingness to work longer hours as construction scheduling requires</li>
            </ul>
        </MudText>


    </MudItem>
</MudGrid>
<MudImage Src="Contact.png" alt="Project Photos"></MudImage>

